## Settings for Normal Svenco-op
## Map name: Subwaytrain
## Map author: DutchTux
## This file is created with SvenCo-op Level Configuration Editor
## ---------------------------------------
weapon_crowbar
weapon_glock
weapon_mp5
weapon_shotgun
weapon_handgrenade
ammo_9mm 125
ammo_buckshot 16
ammo_ARgrenades 2
skill 2
mp_flashlight 1
starthealth 100
startarmor 50
## Physics stuff. 
## Don't change unless you know what you're doing!!
## ---------------------------------------
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 350
sv_wateraccelerate 10
sv_waterfriction 1
